<div class="p-6">
  <p-card header="Update Profile">
    <p-accordion [activeIndex]="0">
      <p-accordionTab header="User Profile">
        <app-form-user></app-form-user>
      </p-accordionTab>
      <p-accordionTab header="Header II">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...</p>
      </p-accordionTab>
      <p-accordionTab header="Header III">
        <p>At vero eos et accusamus et iusto odio dignissimos...</p>
      </p-accordionTab>
    </p-accordion>
  </p-card>
</div>
